<style type="text/css">
   .cb-r-tac{
    padding-top:28px;
   }
</style>
<div class="cb-r-oh">
                    <ul class="r-oh-head">
                        <li class="ac">
                            <a href="javascript:void(0);">我的消息</a>
                        </li> 
                        <div class="r-oh-line" style="left: 0px;"></div>
                    </ul>
                </div>
                <div class="cb-r-ob cb-r-ninf">
                    <ul class="r-nb-title">
                        <li class="one">内容</li>
                        <li class="two">发送人</li>
                        <li class="three">时间</li>
                    </ul>
                    <ul class="cb-r-nl">
                        <foreach name="list" item="vo" >
                        <li>
                            <div class="pro">
                                <a href="javascript:void(0);">{$vo['cont']}</a>
                            </div>
                            <div class="cons">{$Think.config.APP_NAME}</div>
                            <div class="mon">{$vo[sendtime]|date='Y-m-d H:i:s',###}</div>
                        </li>
                        </foreach>
                    </ul>
                    {$pager}
                </div>

                <!-- <div class="cb-r-inf cb-r-ninf">
                    <form action="###" method="post">
                        <li class="r-oh-tnews">
                            <div class="text">标题：</div>
                            <input type="text" />
                        </li>
                        <div class="prompt-box"></div>
                        <li class="r-oh-news">
                            <div class="text">内容：</div>
                            <textarea></textarea>
                        </li>
                        <div class="prompt-box"></div>
                        <li class="cb-r-last">
                            <button type="button">发 送</button>
                        </li>
                    </form>
                </div> -->