<nav class="breadcrumb"><i class="iconfont">&#xf012b;</i> 首页 <span class="c-gray en">&gt;</span> 试题管理 <span class="c-gray en">&gt;</span> <if condition="$info">修改<else/>添加</if>试题 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="icon-refresh"></i></a></nav>
<div class="pd-20 text-c">
<form class="Huiform" action="" method="post" enctype="multipart/form-data">
        <input type="hidden" value="{$info[id]}" name="id">
        <input type="hidden" value="" name="delgids" />
        <table class="table table_prim">
    <tr style="display:none;">
    <th width="100">主办单位:</th>
    <td><input type="text" value="{$info['vote_person']}" maxlength="64" class="form-control" name="vote_person"></td>
    </tr>   
    <tr>
        <th width="100">试题名称:</th>
        <td><input type="text" value="{$info['theme']}" maxlength="64" class="form-control" name="theme"></td>
    </tr> 
     <tr>
        <th width="100">试题类型:</th>
        <td>
          <select class="select" id="sel_Sub" name="ntype" onchange="SetSubID(this);">            
            <volist name='examtypes' id='type' key="k">               
               <option value="{$k}" <if condition="$k eq $info['ntype']"> selected="" </if>>{$type}</option>               
            </volist>      
          </select>
        </td>
      </tr> 
      <tr>
        <th width="100">状态:</th>
        <td>
          <label class="radio-inline" >
              <input type="radio" id="inline-radio2"  name="status" value="1" <if condition=" $info[status]==1" > checked="" </if>> 发布
          </label>
          <label class="radio-inline" >
              <input type="radio" id="inline-radio2"  name="status" value="0" <if condition=" $info[status]==0" > checked="" </if>> 不发布
          </label> 
          
        </td>
    </tr>
    <tr>
        <th width="100">考试时长（分钟）:</th>
        <td><input type="text" value="{$info['examtime']}" maxlength="64" class="form-control" name="examtime"></td>
        
    </tr>
    
    <tr>
        <th width="100">源文件(保存在本机服务器):</th>
        <td>
          <input type="file" value=""  class="form-control" name="fsrc"  id="fimage2">
           
          <div style="margin-top:20px;">
             <a href="__PUBLIC__/Data/exammod.xlsx" target="_blank">查看模板样板</a>
          </div>
           
        </td>
      </tr>

</table>
<div class="text-c mt-20">
      <button type="button" class="btn btn-success radius" id="" name="" onClick="class_save();"><i class="icon-save"></i> 保存</button>
</div> 
</form>
</div>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
  <script type="text/javascript">
  function class_save(){
     var title = $("input[name='theme']").val().trim();
    
     if(title.length<1){
        layer.msg('名称不能为空!',1);
        return;
     }
     $(".Huiform").submit();
  }   
 
</script>