<nav class="breadcrumb"><i class="iconfont">&#xf012b;</i> 首页 <span class="c-gray en">&gt;</span> <a  href="{:U('Exam/index')}" >试题管理</a> <span class="c-gray en">&gt;</span> <if condition="$info">编辑<else/>添加</if>试题 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="icon-refresh"></i></a></nav>
<div class="pd-20 text-c">
<form class="Huiform" action="" method="post" enctype="multipart/form-data">
        <input type="hidden" value="{$info[id]}" name="id">
        <input type="hidden" value="1" name="type">
        <input type="hidden" value="" name="delgids" />
        <table class="table">
    <tr>
        <th width="100">排序:</th>
        <td><input placeholder="填写的数字越大越靠前"  value="{$info['displayorder']}" maxlength="64" class="input-text"  style="width:250px" name="displayorder"></td>
    </tr>
    <tr>
        <th width="100">试题标题:</th>
        <td><input type="text" value="{$info['theme']}" maxlength="64" class="form-control" name="theme"></td>
    </tr>
    <tr>
        <th width="100">考试时长（分钟）:</th>
        <td><input type="text" value="{$info['examtime']}" maxlength="64" class="form-control" name="examtime"></td>
        
    </tr>
    <tr>
        <th width="100">试题类型:</th>
        <td>
          <select class="select" id="sel_Sub" name="ntype" onchange="SetSubID(this);">            
            <volist name='examtypes' id='type' key="k">               
               <option value="{$k}" <if condition="$k eq $info['ntype']"> selected="" </if>>{$type}</option>               
            </volist>      
          </select>
        </td>
      </tr> 
    <tr>
        <th width="100">状态:</th>
        <td>
          <label class="radio-inline" >
              <input type="radio" id="inline-radio2"  name="status" value="1" <if condition=" $info[status]==1" > checked="" </if>> 发布
          </label>
          <label class="radio-inline" >
              <input type="radio" id="inline-radio2"  name="status" value="0" <if condition=" $info[status]==0" > checked="" </if>> 不发布
          </label> 
          
        </td>
    </tr>
    
    <tr>
        <th width="100">内容:</th>
        <td><textarea cols="50" rows="10"  style="display:none;"  name="des"   class="des ">{$info[des]}</textarea>
        <script id="editor" type="text/plain" style="width:100%;height:300px;"></script>
        </td>
    </tr>
    

</table>
<div class="text-c mt-20">
      <button type="button" class="btn btn-success radius" id="" name="" onClick="class_save();"><i class="icon-save"></i> 保存</button>
</div> 
</form>
</div>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
  <script type="text/javascript">
  var ue = UE.getEditor('editor');
   ue.ready(function(){
    ue.setContent($(".des").val());
   });
  function class_save(){
     var title = $("input[name='theme']").val().trim();
   
     if(title.length<1){
        layer.msg('标题不准为空!',1);
        return;
     } 
     
     
     $(".des").val(ue.getContent());
     $(".Huiform").submit();
  }

</script>