<header class="mui-bar mui-bar-nav">
    <a href="{:U('Index/index')}" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>

    <h1 class="mui-title">商品查询</h1>
</header>
{:W('Common/Public/madvbanner')}
<div class="mui-content margintop">
    <div class="mui-content-padded">
        <form id="formObj" class="mui-input-group" action="{:U('Goods/info')}">
            <div class="mui-input-row" style="height: 60px;">
                <label style="margin: 10px 0">商品条码</label>
                <span class="mui-icon mui-icon-camera" id="scanQRCode" style="position: absolute;left: 85%;top:14px;font-size: 30px;"></span>
                <input style="margin: 10px 0" type="text" name="barcode" placeholder="请输入商品条码">
            </div>
        </form>

        <div class="mui-button-row">
            <button type="button" id="subBtn" class="mui-btn mui-btn-primary">查询</button>

        </div>


    </div>
</div>
<script type="text/javascript">
    wx.config({
        debug: false,
        appId: "{$signPackage['appId']}",
        timestamp: "{$signPackage['timestamp']}",
        nonceStr: "{$signPackage['nonceStr']}",
        signature: "{$signPackage['signature']}",
        jsApiList: [
            // 所有要调用的 API 都要加到这个列表中
            'hideMenuItems',
            'hideAllNonBaseMenuItem',
            'scanQRCode',
        ]
    });
    wx.error(function (res) {

    });
    wx.ready(function () {
        //点击按钮扫描二维码
        document.querySelector('#scanQRCode').onclick = function () {
            wx.scanQRCode({
                needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                success: function (res) {
                    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                    result = result.split(',');
                    $("input[name='barcode']").val(result[1]);
                    $('#formObj').submit();
                }
            });
        };
    });
    $(function () {
        $("#subBtn").click(function () {
            $('#formObj').submit();
        })
    })
</script>