<header class="mui-bar mui-bar-nav">
    <a href="{:U('Goods/index')}" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>

    <h1 class="mui-title">商品查询</h1>
</header>
{:W('Common/Public/madvbanner')}
<div class="mui-content margintop">
    <div class="mui-content-padded">
        <div class="mui-card">
            <div class="mui-card-header">商品封面</div>
            <div class="mui-card-content">
                <div class="mui-card-content-inner ctBox">
                    <img src="{$info.thumb}" />
                </div>
            </div>
        </div>
        <div class="mui-card">
            <div class="mui-card-header">基本信息</div>
            <div class="mui-card-content">
                <div class="mui-card-content-inner">
                    <p>商品名称：{$info.title}</p>
                    <p>物品编码：{$info.barcode}</p>
                    <p>执行标准：{$info.standardnum|defaultVal='无',###}</p>
                    <p>商品规格：{$info.spec|defaultVal='无',###}</p>
                    <p>商标：{$info.trademark|defaultVal='无',###}</p>
                </div>
            </div>
        </div>
        <div class="mui-card">
            <div class="mui-card-header">详情</div>
            <div class="mui-card-content">
                <div class="mui-card-content-inner ctBox">
                    {$info.summary|defaultVal='无',###}
                </div>
            </div>
        </div>
        <div class="mui-card">
            <div class="mui-card-header">标准详情</div>
            <div class="mui-card-content">
                <div class="mui-card-content-inner ctBox">
                    {$standard.summary|defaultVal='暂无',###}
                </div>
            </div>
        </div>

    </div>
</div>
		 