<style>
    td,th{
        padding: 5px 10px;
        border: 1px solid #DDD;
    }
</style>
<header class="mui-bar mui-bar-nav">
    <a href="{:U('Goods/index')}" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>

    <h1 class="mui-title">商品查询</h1>
</header>
<div class="mui-content" style="margin: 0 20px;">
    <div id="slider" class="mui-slider" >
        <div class="mui-slider-group mui-slider-loop">
            <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
            <div class="mui-slider-item mui-slider-item-duplicate">
                <a href="javascript:void(0);">
                    <img src="{$info['thumb']}?versionId={$Think.config.WWW_VERSION}">
                </a>
            </div>
            <div class="mui-slider-item">
                <img src="{$info['thumb']}?versionId={$Think.config.WWW_VERSION}" alt="{$vo[title]}" />
            </div>
            <foreach name="info.Att"  key="vId" item="vo">
                <div class="mui-slider-item">
                    <img src="{$vo['src']}?versionId={$Think.config.WWW_VERSION}" alt="{$vo[title]}" />
                </div>
            </foreach>
            <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
            <div class="mui-slider-item mui-slider-item-duplicate">
                <a href="javascript:void(0);">
                    <img src="{$info['thumb']}?versionId={$Think.config.WWW_VERSION}">
                </a>
            </div>
        </div>

    </div>
</div>
<div class="mui-content margintop" style="padding-top: 0">
    <div class="mui-content-padded">
        <!--<div class="mui-card">
            <div class="mui-card-header">商品封面</div>
            <div class="mui-card-content">
                <div class="mui-card-content-inner ctBox">
                    <img src="{$info.thumb}" />
                </div>
            </div>
        </div>-->
        <div class="mui-card">
            <div class="mui-card-header">商品信息</div>
            <div class="mui-card-content">
                <div class="mui-card-content-inner">
                    <p>商品名称：{$info.title}</p>
                    <p>商品条码：{$info.barcode}</p>
                    <!--<p>执行标准：{$info.standardnum|defaultVal='无',###}</p>-->
                    <p>净含量：{$info.spec|defaultVal='无',###}</p>
                    <!--<p>商标：{$info.trademark|defaultVal='无',###}</p>-->
                        {$info.des|defaultVal='',###}
                </div>
            </div>
        </div>
        <!--<div class="mui-card">
            <div class="mui-card-header">详情</div>
            <div class="mui-card-content">
                <div class="mui-card-content-inner ctBox">
                    {$info.des|defaultVal='无',###}
                </div>
            </div>
        </div>-->
        <div class="mui-card">
            <div class="mui-card-header" style="font-size: 14px;">执行标准：{$info.standardnum|defaultVal='暂无',###}<button type="button" id="openBtn" class="mui-btn mui-btn-primary">展开详情</button></div>
            <div class="mui-card-content">
                <div class="mui-card-content-inner ctBox" id="standard_info" style="overflow: scroll;display: none">
                    {$standard.summary|defaultVal='暂无',###}
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function(){
        $('#openBtn').click(function(){
            $(this).text($("#standard_info").is(":hidden") ? "收起详情" : "展开详情");
            $('#standard_info').slideToggle();
        })
    })
</script>
		 