<style type="text/css">
   .cb-r-tac{
    padding-top:28px;
   }
</style>
<div class="cb-r-oh">
                    <ul class="r-oh-head">
                        <li class="ac">
                            <a href="javascript:void(0);">我报的班</a>
                        </li> 
                        <div class="r-oh-line" style="left: 0px;"></div>
                    </ul>
                </div>
                <div class="cb-r-ob cb-r-ninf">
                    <ul class="r-nb-title">
                        <li class="one">班级名称</li>
                        <li class="two">是否付费</li>
                        <li class="three">报班时间</li>
                    </ul>
                    <ul class="cb-r-nl">
                        <foreach name="list" item="vo" >
                        <li>
                            <div class="pro">
                                <a target="_blank" href="{:U('Home/Train/info',array('id'=>$vo['tid']))}">{$trainlist[$vo['tid']]['title'] }</a>
                            </div>
                            <div class="cons">{$ispay[$vo['ispay']]}</div>
                            <div class="mon">{$vo[addtime]|date='Y-m-d H:i:s',###}</div>
                        </li>
                        </foreach>
                    </ul>
                    {$pager}
                </div>

                 