@charset "utf-8";

.wc-hand{
   cursor: pointer;
}
.wc-alert-box{
	position: fixed;
	left: 0;
	top: -100px;
	width: 100%;
	z-index: 10000;	 
}
.wc-alert-box .cont{
	width: 500px;
	margin: 0 auto; 
}
.wc-alert-box  .alert{
	padding: 10px !important;
}
.wc-alert-box  .alert.alert-danger{
   border: 2px solid #999;
   border-radius: 0 !important;
   background-color: #ff6666 !important; 
   font-size: 14px;
   color: #fff;
}
.wc-alert-box  .alert.alert-success{
   border: 2px solid #999;
   border-radius: 0 !important;
   background-color: #fff !important; 
   font-size: 14px;
   color: #333;
}
.upload_choose{
   overflow: hidden;
   position: relative;
}
.upload_choose input{
   opacity: 0;
   position: absolute;
   left: 0;
   top: 0;
}
.upload_choose{
   line-height: 42px;
   text-align: center;   
}
.form-group{overflow: hidden;}
.floatL{float: left;}
.floatR{float:right;}
.hand{cursor: pointer;}
.selectBox{width: 160px;margin-right: 10px;}
.mr190{margin-right: 190px;}   
.clear{clear:both}
.hide{display: none;}
.upload_box{width:800px; margin:1em auto;}
/*.upload_main{border-width:1px 1px 2px; border-style:solid; border-color:#ccc #ccc #ddd; background-color:#fbfbfb;}
*/.upload_choose{}
.upload_drag_area{display:inline-block; width:60%; padding:4em 0; margin-left:.5em; border:1px dashed #ddd; background:#fff  20px center; color:#999; text-align:center; vertical-align:middle;}
.upload_drag_hover{border-color:#069; box-shadow:inset 2px 2px 4px rgba(0, 0, 0, .5); color:#333;}
.upload_preview{background-color:#fff; overflow:hidden; _zoom:1;margin-top: 10px;}
.upload_append_list{padding:0 1em; float:left; position:relative;}
.upload_delete{margin-left:2em;}
.upload_image{height:100px; padding:5px;}
.upload_submit{padding-top:1em; padding-left:1em;}
.upload_submit_btn{display:none; height:32px; font-size:14px;}
.upload_loading{height:250px; background:url(../img/loading.gif) no-repeat center;}
.upload_progress{display:none; padding:5px; border-radius:10px; color:#fff; background-color:rgba(0,0,0,.6); position:absolute; left:25px; top:45px;}

.page a{
    padding: 5px;
    border:1px #f0f0f0 solid;
    margin:2px;
   }
.page span{
 padding: 5px;
 background-color: rgb(160,180,200);
 margin:2px;
 color: #fff;
 border:1px #f0f0f0 solid;
}
input[type="radio"], input[type="checkbox"]{
  margin-top:4px !important;
}
.file-btn{
    width: 72px;
    height: 30px;
    position: absolute;
    top:12px;
    left: 20px;
    z-index: -10;
    font-size:14px;
}
.file-tip{
     position: absolute;
   top:18px ;
    left: 100px;
    font-size:14px;
}
