<style type="text/css">
   .cb-r-tac{
    padding-top:28px;
   }
</style>
<div class="cb-r-oh">
                    <ul class="r-oh-head">
                        <li class="ac">
                            <a href="javascript:void(0);">我的咨询</a>
                        </li> 
                        <div class="r-oh-line" style="left: 0px;"></div>
                    </ul>
                </div>
                <div class="cb-r-ob cb-r-ninf">
                    <ul class="r-nb-title">
                        <li class="one">咨询内容</li>
                        <li class="two">咨询状态</li>
                        <li class="three">咨询时间</li>
                    </ul>
                    <ul class="cb-r-nl">
                        <foreach name="list" item="vo" >
                        <li>
                            <div class="pro">
                                <a href="javascript:void(0);">{$vo['reason']}</a>
                                <if condition="$vo['status']==1">
                                <p>
                                    官方回复：{$vo['solution']}
                                </p>
                            </if>
                            </div>
                            <div class="cons"> <if condition="$vo['status']==1">已处理<else/>未处理</if></div>
                            <div class="mon">{$vo[addtime]|date='Y-m-d H:i:s',###}</div>
                        </li>
                        </foreach>
                    </ul>
                    {$pager}
                </div>
 