<div class="suspension">
  <div class="suspension-box">
    <a href="#" class="a a-service "><i class="i"></i></a>
    <a href="javascript:;" class="a a-service-phone "><i class="i"></i></a>
    <a href="javascript:;" class="a a-qrcode"><i class="i"></i></a>
    <a href="javascript:;" class="a a-top"><i class="i"></i></a>
    <div class="d d-service">
      <i class="arrow"></i>
      <div class="inner-box">
        <div class="d-service-item clearfix">
          <a href="#" class="clearfix"><span class="circle"><i class="i-qq"></i></span><h3>咨询在线客服</h3></a>
        </div>
      </div>
    </div>
    <div class="d d-service-phone">
      <i class="arrow"></i>
      <div class="inner-box">
        <div class="d-service-item clearfix">
          <span class="circle"><i class="i-tel"></i></span>
          <div class="text">
            <p>服务热线</p>
            <p class="red number">13660333158</p>
          </div>
        </div>       
      </div>
    </div>
    <div class="d d-qrcode">
      <i class="arrow"></i>
      <div class="inner-box">
        <div class="qrcode-img"><img src="__PUBLIC__/Home/images/mobileurl.png" alt=""></div>
        <p>移动版</p>
      </div>
    </div>

  </div>
</div>