<div class="globalfeature">
<div class="container">       
      <div class=" row ">
         <div class="col-lg-3">
             <img src="__PUBLIC__/Home/images/box3-1.png?versionId={$Think.config.WWW_VERSION}" class="img-responsive" alt="Cinque Terre">
             <p class="title"> 网络直播</p>  
         </div>
         <div class="col-lg-3">
             <img src="__PUBLIC__/Home/images/box3-2.png?versionId={$Think.config.WWW_VERSION}" class="img-responsive" alt="Cinque Terre">
             <p class="title">网络录播课</p>
         </div>
         <div class="col-lg-3">
             <img src="__PUBLIC__/Home/images/box3-3.png?versionId={$Think.config.WWW_VERSION}" class="img-responsive" alt="Cinque Terre">
             <p class="title">线下授课</p>
         </div>
         <div class="col-lg-3">
             <img src="__PUBLIC__/Home/images/box3-4.png?versionId={$Think.config.WWW_VERSION}" class="img-responsive" alt="Cinque Terre">
             <p class="title">海量题库</p>
         </div>
      </div>
    </div>
</div>