        <header class="mui-bar mui-bar-nav">
		    <a   class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">设置性别</h1>
		</header>
		<div class="mui-content margintop">

            <form id="formObj" action=""  class="mui-input-group">   

                 <div class="mui-input-row mui-radio mui-left">
                        <label>男</label>
                        <input name="gender" value="0" type="radio" <if condition="$www_member['gender'] eq 0"> checked="" </if>>
                    </div>
                    <div class="mui-input-row mui-radio mui-left">
                        <label>女</label>
                        <input name="gender" value="1" type="radio" <if condition="$www_member['gender'] eq 1"> checked="" </if>>
                    </div>
            </form>
            <div class="mui-content-padded">
                <button  class="mui-btn mui-btn-block mui-btn-primary cbtn">保存</button>
            </div>
        </div>
		<script type="text/javascript">
        $(function(){             
            $(".cbtn").click(function(){
                var gender = $("input[name='gender']:checked").val().trim();             
                mui(this).button('loading');  
                var obj = this;           
                $.ajax({
                    url:'{:U("Setting/gender")}',
                    type:'post',
                    dataType:'json',
                    data:{gender:gender},
                    success:function(re){
                        mui(obj).button('reset'); 
                        mui.alert(re.msg, GlobalAppName, function() {});
                    }
                });
            });
        });
    </script>
 
 