<link rel="stylesheet" href="__PUBLIC__/Wx/css/setting.css?versionId={$Think.config.WWW_VERSION}">
<!--页面主结构开始-->
		<div id="app" class="mui-views">
			<div class="mui-view">
				<div class="mui-navbar">
				</div>
				<div class="mui-pages">
				</div>
			</div>
		</div>
		<!--页面主结构结束-->
		<!--单页面开始-->
		<div id="setting" class="mui-page">
			<!--页面标题栏开始-->
			<div class="mui-navbar-inner mui-bar mui-bar-nav">
				<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
					<span class="mui-icon mui-icon-left-nav"></span>
				</button>
				<h1 class="mui-center mui-title">会员中心</h1>
			</div>
			<!--页面标题栏结束-->
			<!--页面主内容区开始-->
			<div class="mui-page-content">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view mui-table-view-chevron">
							<li class="mui-table-view-cell mui-media">
								<a class="mui-navigate-right" href="#account">
									<img class="mui-media-object mui-pull-left head-img" id="head-img" src="">
									<div class="mui-media-body">
										您好，尊敬的会员 
										<p class='mui-ellipsis'>账号:{$www_member['username']}</p>
									</div>
								</a>
							</li>
						</ul>
						<ul class="mui-table-view mui-table-view-chevron">
							<li class="mui-table-view-cell">
								<a href="#account" class="mui-navigate-right">账号与安全</a>
							</li>							 
							<li class="mui-table-view-cell cbzjdbox">
								<a href="{:U('Umsg/index')}" class="mui-navigate-right ">我的消息</a>
							</li>
						</ul>
						<ul class="mui-table-view mui-table-view-chevron">
							<li class="mui-table-view-cell cbzjdbox">
								<a href="{:U('Ucourse/index')}" class="mui-navigate-right ">我的课程</a>
							</li>
							<li class="mui-table-view-cell cbzjdbox">
								<a href="{:U('Utrain/index')}" class="mui-navigate-right ">我报的班</a>
							</li>							 					
						</ul>						
						<ul class="mui-table-view mui-table-view-chevron">
							<li class="mui-table-view-cell">
								<a href="#about" class="mui-navigate-right">关于{$Think.config.APP_NAME}</a>
							</li>
						</ul>
						<ul class="mui-table-view">
							<li class="mui-table-view-cell" style="text-align: center;">
								<a id="loginout" href="javascript:void(0);" data-href="{:U('Login/loginout')}">退出登录</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--页面主内容区结束-->
		</div>
		<!--单页面结束-->
		<div id="account" class="mui-page">
			<div class="mui-navbar-inner mui-bar mui-bar-nav">
				<a  href="#setting" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
					<span class="mui-icon mui-icon-left-nav"></span>设置
				</a>
				<h1 class="mui-center mui-title">账号与安全</h1>
			</div>
			<div class="mui-page-content">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="mui-table-view">
							<li class="mui-table-view-cell">
								<a  href="{:U('Setting/head')}" class="mui-navigate-right">头像
								<span class="mui-pull-right head">
									<img class="head-img mui-action-preview" id="head-img1" src="__PUBLIC__/Data/{$www_member['head']}?r={$globalRandNum}"/>
								</span>
							</a>
							</li>
							<li class="mui-table-view-cell">
								<a>姓名<span class="mui-pull-right">{$www_member['realname']}</span></a>
							</li>
							<li class="mui-table-view-cell">
								<a>登录账号<span class="mui-pull-right">{$www_member['username']}</span></a>
							</li>
							<li class="mui-table-view-cell">
								<a href="{:U('Setting/gender')}">性别<span class="mui-pull-right"><if condition="$www_member['gender'] eq 1"> 女 <else/> 男 </if></span></a>
							</li>
						</ul>
						<ul class="mui-table-view">
							<li class="mui-table-view-cell">
								<a>手机号<span class="mui-pull-right">{$www_member['mobile_show']}</span></a>
							</li>
							<li class="mui-table-view-cell">
								<a href="{:U('Setting/email')}" class="mui-navigate-right">邮箱地址
								<span class="mui-pull-right"><empty name="www_member['email']">
                           未绑定
                        <else/>
                           {$www_member['email_show']}
                        </empty></span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
        <div id="email" class="mui-page">
			<div class="mui-navbar-inner mui-bar mui-bar-nav">
				<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
					<span class="mui-icon mui-icon-left-nav"></span>设置
				</button>
				<h1 class="mui-center mui-title">邮箱地址</h1>
			</div>
			<div class="mui-page-content">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						 <form id='login-form' class="mui-input-group">
							<div class="mui-input-row">
								<label>邮箱</label>
								<input  autocomplete="off" type="text" class="mui-input-clear mui-input username" placeholder="请输入邮箱" name="username">
							</div>
							 
						</form>
                        <div class="mui-content-padded">
						    <input type="hidden" class="loginurl" value="{:U("Login/index")}">
							<button  class="mui-btn mui-btn-block mui-btn-primary">登录</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="about" class="mui-page">
			<div class="mui-navbar-inner mui-bar mui-bar-nav">
				<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
					<span class="mui-icon mui-icon-left-nav"></span>设置
				</button>
				<h1 class="mui-center mui-title">{$Think.config.APP_NAME}</h1>
			</div>
			<div class="mui-page-content">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll paddingBox">
						 <h5>一、基本情况</h5>
   <p> 国家技术标准创新基地（重庆）（以下简称基地）是经国家标准化管理委员会批准筹建的全国第四个，西部唯一的国家级标准创新基地（国标委综合函〔2015〕36号）。基地依托重庆标准科技研究及展示平台，由重庆市质量和标准化研究院承建，建设周期为2016—2018年，目前正处于筹建阶段。</p>

<h5>二、建设思路和建设目标</h5>

<p>（一）建设思路</p>

   <p> 贯彻落实深化标准化改革方案，坚持“创新、协调、绿色、开放、共享”发展理念，充分发挥重庆西部大开发重要战略支点作用，积极融入“一带一路”建设和长江经济带发展，围绕打造长江上游地区国家级技术标准创新平台、标准服务平台和标准化人才培养平台目标，整合标准化人才、技术和政策资源，集聚高校、企业和科研机构技术优势，推动标准化工作机制创新、研究方法创新和服务方式创新，发挥基地在促进科技成果转化应用、服务“双创”和“四众”企业、推动标准“走出去”和人才培养等方面的辐射带动作用，为完善大通道、大通关、大平台体系，更好融入国家对外开放新格局，推动重庆产业迈向中高端水平提供支撑。</p>

<p>（二）建设目标</p>

    <p>1、形成一批具有技术主导权的团体标准</p>

    <p>围绕“6+1“支柱产业和十大战略性新兴产业确定的重点产业集群，形成一批具有一定技术主导权的团体标准（联盟标准），建立团体标准运行管理机制，配合搭建符合性试验验证平台。</p>

    <p>2、标准化协同推进机制基本建立</p>

    <p>标准化与科技创新、产业发展相结合的协同机制初步形成。标准的经济价值尝试在国家政策性金融投融资行业实现突破，标准评估体系基本健全。重庆市标准化统计体系初步建成，数据统计分析进一步深化。</p>

    <p>3、国际标准化影响力显著提升</p>

    <p>鼓励和推动重庆优势企业承担国内外标准组织职务，专业标准化技术委员会（TC）秘书处、分技术委员会（SC）秘书处及工作组（WG）召集人的数量达到3个以上，国际标准提案超过10项，引导企业和产业联盟围绕产业发展需求，争取每年有国际标准化会议在重庆召开。</p>

    <p>4、标准创新公共服务平台初步建成<p>

    <p>整合标准化各类资源，突出服务于产业升级和服务于科技创新，实现团体标准运行管理、专家决策指导、标准化资源综合服务与标准评估等多功能综合性服务平台。</p>

    <p>5、培养一批标准化专业人才队伍</p>

    <p>加强标准化专家库建设，2017年标准化专家队伍达到500人。加强对重庆企业的人才培养，参加系统理论培训人数达到1000人次，取得标准化工程师证书达500人次。</p>

<h5>三、预期取得的效益</h5>

    <p>依托国家技术标准创新基地（重庆）建设，重庆标准创新生态系统将得到进一步优化，拟建成的标准信息公共服务数据中心、技术标准创新服务平台、科技标准产业同步发展平台、团体标准创新协作平台，将辐射带动区域标准水平整体提升，有效助推区域经济发展。</p>
					</div>
				</div>
			</div>
		</div>

		 
		<script src="__PUBLIC__/Wx/js/mui.view.js "></script>
	    <script src='__PUBLIC__/Wx/js/mui.picker.min.js'></script>
	<script>
		mui.init({
			swipeBack:true //启用右滑关闭功能
		});
		//初始化单页view
		var viewApi = mui('#app').view({
			defaultPage: '#setting'
		});
		 
		//初始化单页的区域滚动
		mui('.mui-scroll-wrapper').scroll();
		 
		
		defaultImg();
		 
		//退出登录
		document.getElementById("loginout").addEventListener('tap', function() {
				var btnArray = ['否', '是'];
				var obj = this;
				mui.confirm('确认要退出登录吗？', GlobalAppName, btnArray, function(e) {
					if (e.index == 1) {
						window.location.href = $(obj).attr('data-href');
					}					 
				})
		});	
		 
		 
		 

		 

		 

		function defaultImg() {
			if(mui.os.plus){
				plus.io.resolveLocalFileSystemURL("_doc/head.jpg", function(entry) {
					var s = entry.fullPath + "?version=" + new Date().getTime();;
					document.getElementById("head-img").src = s;
					document.getElementById("head-img1").src = s;
				}, function(e) {
					document.getElementById("head-img").src = '__PUBLIC__/Data/{$www_member['head']}'+'?r={$globalRandNum}';
					document.getElementById("head-img1").src = '__PUBLIC__/Data/{$www_member['head']}'+'?r={$globalRandNum}';
				})
			}else{
				document.getElementById("head-img").src = '__PUBLIC__/Data/{$www_member['head']}'+'?r={$globalRandNum}';
				document.getElementById("head-img1").src = '__PUBLIC__/Data/{$www_member['head']}'+'?r={$globalRandNum}';
			}
			
		}
		 

		 
		 
	</script>