<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/currency.css?versionId={$Think.config.WWW_VERSION}" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/style.css?versionId={$Think.config.WWW_VERSION}" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/comm.css?versionId={$Think.config.WWW_VERSION}" />
    <title>{$Think.config.APP_NAME}</title>
    <script type="text/javascript" language="javascript" src="__PUBLIC__/Home/js/jquery-2.1.1.min.js"></script>
</head>
<body> 
{__CONTENT__}
{:W('Common/Public/footer1')}

    <script type="text/javascript" language="javascript" src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript" src="__PUBLIC__/Home/js/currency.js?versionId={$Think.config.WWW_VERSION}"></script>
    <script type="text/javascript" language="javascript" src="__PUBLIC__/Home/js/effect.js?versionId={$Think.config.WWW_VERSION}"></script>
    <script type="text/javascript" language="javascript" src="__PUBLIC__/Home/js/comm.js?versionId={$Think.config.WWW_VERSION}"></script>
</body>
</html>