<!-- 选择头像对话框 -->
<div class="modal fade" id="selectHeadModal" tabindex="-1" role="dialog"
 aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center" id="electHeadModalLabel">
                    编辑个人头像
                </h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default mg-t-10" style="height:370px;border:none !important;">
                   <div class="panel-body"  style="height:350px; " >
                      <div class="panel-group" id="accordion">
                            <a href="javascript:void(0)" class="upload-img text-center hand">
						        <label for="upload-file">上传图像</label>
						    </a>
                      		<div class="imageBox pull-right">
						        <div class="thumbBox"></div>
						        <div class="spinner" style="display: none"></div>
						    </div>
						    <div class="clearfix"></div>
						    <div class="action">
						        <div class="new-contentarea tc">
						            <input type="file" class="" name="upload-file" id="upload-file"/>
						        </div>

						        <input type="button" id="btnCrop" class="Btnsty_peyton" value="裁切">
						        <span  id="btnZoomIn" class="Btnsty_peyton ft">+</span>
						        <span  id="btnZoomOut" class="Btnsty_peyton ft">-</span>
						         
						    </div>
						    <div class="cropped"></div>
                      </div>
                   </div>
                </div>
            </div>
            <div class="modal-footer wc-text-center">

                <button alt="{:U('Home/Ajax/savehead')}" type="button" class="btn btn-default  saveHead" 
                   data-dismiss="modal">确定
                </button>            
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  $(function(){
       //保存头像
    $(document).on('click','.saveHead',function(){
        if($(".cropped").find('img').length>0){
            var imgSrc = $(".cropped").find('img').eq(0).attr('src');
            $.ajax({
                url:$(this).attr('alt'),
                type:'post',
                data:{imgsrc:imgSrc},
                success:function(msg){
                    if(msg!='')
                    {
                       popup('连接错误');   
                       return;
                    }                     
                    location.reload(true);
                },
                error:function(err){
                   popup('连接错误'); 
                }
            });
        }
        
    });

    var options =
        {
            thumbBox: '.thumbBox',
            spinner: '.spinner',
            imgSrc: 'images/avatar.png'
        }
        var cropper = $('.imageBox').cropbox(options);
        $('#upload-file').on('change', function () {
            var reader = new FileReader();
            reader.onload = function (e) {
                options.imgSrc = e.target.result;
                cropper = $('.imageBox').cropbox(options);
            }
            reader.readAsDataURL(this.files[0]);
            this.files = [];
        })
        $('#btnCrop').on('click', function () {
            var img = cropper.getDataURL();
            $('.cropped').html('');
            //$('.cropped').append('<img src="' + img + '" align="absmiddle" style="width:64px;margin-top:4px;border-radius:64px;box-shadow:0px 0px 12px #7E7E7E;" ><p>64px*64px</p>');
            $('.cropped').append('<img src="' + img + '" align="absmiddle" style="width:128px;margin:5px;">');
           // $('.cropped').append('<img src="' + img + '" align="absmiddle" style="width:180px;margin-top:4px;border-radius:180px;box-shadow:0px 0px 12px #7E7E7E;"><p>180px*180px</p>');
        })
        $('#btnZoomIn').on('click', function () {
            cropper.zoomIn();
        })
        $('#btnZoomOut').on('click', function () {
            cropper.zoomOut();
        })
  });
</script>