<nav class="breadcrumb"><i class="iconfont">&#xf012b;</i> 首页 <span class="c-gray en">&gt;</span> 广告推广 <span class="c-gray en">&gt;</span> 查看详情 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="icon-refresh"></i></a></nav>
<a href="{:U('Advertising/index')}"><button type="button" class="btn btn-success" id="" name="" style="float:right;margin-bottom:10px;margin-right:40px;" > 返回列表</button></a>
<div class="pd-20 text-c">

<form class="Huiform" action="" method="post" enctype="multipart/form-data">
        <input type="hidden" value="{$info[id]}" name="id">
        <input type="hidden" value="" name="delgids" />
        <table class="table">
    <tr>
        <th width="100">会员:</th>
        <td><input type="text" value="{$info['musername']}" maxlength="64" class="form-control"  readonly></td>
    </tr>
    <!-- <tr>
        <th width="100">类型:</th>
        <td><input type="text" value="{$servertypeName[$info[service_type]]}" maxlength="64" class="form-control"  readonly></td>
    </tr> -->
    <tr>
        <th width="100">联系人:</th>
        <td><input type="text" value="{$info[contact_name]}" maxlength="64" class="form-control"  readonly></td>
    </tr>
    <tr>
        <th width="100">联系电话:</th>
        <td><input type="text" value="{$info[mobile]}" maxlength="64" class="form-control"  readonly></td>
    </tr>
     <tr>
        <th width="100">创建时间:</th>
        <td><input type="text" value="{$info[addtime]|date='Y-m-d',###}" maxlength="64" class="form-control"  readonly></td>
    </tr>
     <!-- <tr>
        <th width="100">状态:</th>

        <td><input type="button" value="{$demandstatusName[$info[status]]}" maxlength="64" id="op"  class="form-control "  ></td>
    </tr> -->
</table>
<div class="text-c mt-20">
     <if condition="$info[status] eq 0">
        <button type="button" class="btn btn-success radius" id="" name="" onclick="class_verify(this)" data-url="{:U('Advertising/verify',array('id'=>$info['id']))}">待审核</button>
     </if>
     <if condition="$info[status] eq 1">
        <button type="button" class="btn btn-success radius" id="" name="" onclick="class_verifying(this)" data-url="{:U('Advertising/verifying',array('id'=>$info['id']))}" data-eurl="{:U('Advertising/errverifying',array('id'=>$info['id']))}">进行中</button>
     </if>
     <if condition="$info[status] eq 2">
        <button  type="button" class="btn " id="" name="" >完成</button>
     </if>
     
     <if condition="$info[status] eq -1">
        <button type="button" class="btn btn-success radius" id="" name="" >取消</button>
     </if>
     <if condition="$info[status] eq -2">
        <button  type="button" class="btn" id="" name="" >交易失败</button>
     </if>
      
      <a href="{:U('Advertising/index')}"><button type="button" class="btn btn-success" id="" name="" > 返回列表</button></a>
     
</div> 
</form>
</div>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
  <script type="text/javascript">
  function class_verify(obj){
    layer.confirm('确认开始审核？',function(index){
           location.href = $(obj).attr('data-url');
      });
  }
  function class_verifying(obj){
    $.layer({  
      shade: [0],  
      dialog: {  
          msg: '审核结果',  
          btns: 2,                      
          type: 4,  
          btn: ['成功','失败'],  
          yes: function(){  
              location.href = $(obj).attr('data-url');  
          }, no: function(){  
              location.href = $(obj).attr('data-eurl');  
          }  
      }  
  }); 
  }
 
</script>