.mui-card{
	margin:0px;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell,.mui-grid-view.mui-grid-9{
	border:none;
}
.mui-col-xs-4 {
	width: 25%;
}
.mui-grid-view.mui-grid-9 .mui-table-view-cell, .mui-grid-view.mui-grid-9{
	padding:0px !important;
}
.themetitle {
    width: 100%;
}
.themetitle h6 {
    text-align: center;
    color: #00b6f8;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
}
.themetitle p{
    text-align: center;
    
}
.themetitle a{
    font-size: 14px;
    
}
.morebtn{
	font-size: 14px;
   
    color: #616161;
    background-color: #f5f5f5;
    border: 1px solid #787878;
    border-color: #ededed;
    border-radius: 0 !important;
    display: block;
    width: 100px;
    height: 32px;
    margin: 10px auto;
    line-height: 32px;
    text-align: center;
}
.morebtn a{
	color: #616161;
}