<foreach name="list" item="vo">
<li class="mui-table-view-cell">
		            <div class="mui-table">
		                <a href="{:U('Policies/info',array('id'=>$vo['id']))}">
			                <div class="mui-table-cell mui-col-xs-12">
			                    <h4 class="mui-ellipsis">{$vo['title']}</h4>
			                    
			                    <p class="mui-h6 mui-ellipsis">{$vo[addtime]|date='Y-m-d',###}</p>
			                </div>
			                
		                </a>
		            </div>
</li>
</foreach>