
<style type="text/css">
    /*.birthdaybox{
        width: 350px;
        overflow: hidden;
        height: 36px;
        float: left;
    }
    .birthdaybox .sleect{
        line-height: 18px;
        border: 1px solid #bdbdbd;
        padding: 5px;
        float: none;
        font-family: "Microsoft YaHei";
        font-size: 14px;
        width: 70px;
    }
    .birthdaybox label{
        margin:0 5px;
        color: #666;
        font-weight: normal;
    }
    .information_box form li input[type=text].mobile{
        border-color: #fff;   
    }*/
    .city-picker-span{
        position: absolute !important;
        display: inline;
        border:1px solid #bdbdbd;
        padding: 0 5px;
    }

</style>
<div class="cb-r-inf">
                    <form action="" method="post">
                    
                        <li>
                            <div class="text">昵称：</div>
                            <input type="text" name="nickname" value="{$www_member['nickname']}"/>
                        </li>
                        <div class="prompt-box"></div>
                        <li class="cb-r-sex">
                            <div class="text">性别：</div>
                            <span <if condition="$www_member['gender'] eq 0"> class="ac" </if>>
                                <input type="radio" value="0" name="gender" <if condition="$www_member['gender'] eq 0"> checked="" </if>  />
                            </span>  男
                            <span <if condition="$www_member['gender'] eq 1"> class="ac" </if>>
                                <input type="radio" value="1" name="gender" <if condition="$www_member['gender'] eq 1"> checked="" </if>/>
                            </span>  女
                        </li>
                        <div class="prompt-box"></div>
                        <li>
                            <div class="text">联系电话：</div>
                            <input type="text" class="mobile" name="mobile" readonly="" value="{$www_member['mobile']}" />
                        </li>
                        <div class="prompt-box"></div>
                        <li style="position: relative;">
                            <input type="hidden" name="province" value="{$www_member['province']}">
                            <input type="hidden" name="city" value="{$www_member['city']}">
                            <input type="hidden" name="area" value="{$www_member['area']}">
                            <div class="text">居住地址：</div>
                            
                                <input id="city-picker" class="form-control" readonly type="text"  data-toggle="city-picker" value="{$www_member['province']}/{$www_member['city']}/{$www_member['area']}">
                                                   
                        </li>
                        <div class="prompt-box"></div>
                        <li class="cb-r-xplace">
                            <div class="text">详细地址：</div>
                            <input type="text" name="address" value="{$www_member['address']}"/>
                            <div class="prompt-box fl"></div>
                        </li>
                        <li class="cb-r-last">
                            <button type="submit" class="submitBtn">保 存</button>
                        </li>
                    </form>
                 </div>
<script type="text/javascript" language="javascript" src="__PUBLIC__/Home/js/birthday.js?versionId={$Think.config.WWW_VERSION}"></script>
            <script type="text/javascript">
                $(function(){
                    $.ms_DatePicker({
                            YearSelector: ".sel_year",
                            MonthSelector: ".sel_month",
                            DaySelector: ".sel_day"
                    });
                   
                    $(".submitBtn").click(function(){
                        if($(".city-picker-span .select-item").length>0){
                            if($(".city-picker-span .select-item").eq(0) != undefined){
                                $("input[name='province']").val($(".city-picker-span .select-item").eq(0).text());
                            }
                            if($(".city-picker-span .select-item").eq(1) != undefined){
                                $("input[name='city']").val($(".city-picker-span .select-item").eq(1).text());
                            }
                            if($(".city-picker-span .select-item").eq(2) != undefined){
                                $("input[name='area']").val($(".city-picker-span .select-item").eq(2).text());
                            }
                        }
                        
                        var len = $(".city-picker-span .select-item").length;

                    });
                });
            </script>         