        <header class="mui-bar mui-bar-nav">
		    <a  href="{:U('Index/index')}" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">服务大厅</h1>
		</header>
		 {:W('Common/Public/madvbanner')}
		 <div class="mui-content margintop">
			<div class="mui-content-padded">	
                 <ul class="mui-table-view mui-grid-view mui-grid-9">
		            <li class="mui-table-view-cell mui-media mui-col-xs-4">
		                <a href="{:U('Ugoods/add')}">
		                    <span class="mui-icon mui-icon-upload cfocust"></span>
		                    <div class="mui-media-body">上传产品</div>
		                </a>
		             </li>
		             <li class="mui-table-view-cell mui-media mui-col-xs-4">
		                <a href="#" >
		                    <span class="mui-icon mui-icon-compose cfocust"></span>
		                    <div class="mui-media-body">申请条码</div>
		                </a>
		             </li>
		             <li class="mui-table-view-cell mui-media mui-col-xs-4">
		                <a href="#">
		                    <span class="mui-icon mui-icon-search cfocust"></span>
		                    <div class="mui-media-body">查询标准</div>
		                </a>
		             </li>
		             <li class="mui-table-view-cell mui-media mui-col-xs-4">
		                <a href="#">
		                    <span class="mui-icon mui-icon-spinner mui-spin cfocust"></span>
		                    <div class="mui-media-body">自修订标准</div>
		                </a>
		             </li>
		        </ul>
			</div>
		</div>