 <style>
  .rb-s-cont li{
    margin-bottom: 20px;
  }
 .next-bt{
    padding: 0 10px;
    height: 26px;
    line-height: 26px;
    display: table;
    background: #f90;
    color: #fff;
    border-radius: 3px;
    margin-left: 170px;
 }
</style> 

                <div class="cb-r-bind">
                    <ul class="rb-step">
                        <li class="ac">
                            验证身份
                            <span>1</span>
                        </li>
                        <li>
                            修改邮箱
                            <span>2</span>
                        </li>
                        <li>
                            完成
                            <span>OK</span>
                        </li>
                    </ul>
                    <form id="formObj" action="{:U('Account/emailverification')}"  method="post">
                        <ul class="rb-s-cont">
                            <li>
                                <div class="input-name">
                                    请选择验证身份方式：
                                </div>
                                <select type="text" class="input-box" id="checktype">
                                     <if condition="$www_member['mobile'] neq ''">
                                    <option value="1">已验证手机</option>
                                    </if>
                                    <if condition="$www_member['email'] neq ''">
                                    <option value="2">已验证邮箱</option>
                                    </if>
                                </select>
                            </li>
                            
                            <li class="pm ac">
                                <div class="input-name">
                                    已验证手机：
                                </div>
                                <span>{$www_member['mobile_show']}</span>
                            </li>
                            <li class="pm">
                                <div class="input-name">
                                    已验证邮箱：
                                </div>
                                <span>{$www_member['email_show']}</span>
                            </li>
                           
                            <li>
                                <div class="input-name">
                                    请填写校验码：
                                </div>
                                <input type="text" name="code" maxlength="4" class="input-box" id="ckcode" />
                                <div id="obtainNum" data-url="{:U('Cmodule/Sms/sendcode')}" data-eurl="{:U('Cmodule/Email/send')}">获取验证码</div>
                            </li>
                            <div class="promptBox"></div>
                            <li >
                                 <button type="button" class="submitForm next-bt" data-url="{:U('Cmodule/Sms/check')}">下一步</button>
                            </li>
                        </ul>
                    </form>
                </div>
            
<script type="text/javascript">
                    $(function(){
                        $(document).on('click','#obtainNum',function(){
                             var checktype = $("#checktype").val();
                             var url = '';
                             var mobile = '';
                             if(checktype=='1'){
                                url = $(this).attr('data-url');
                                mobile = "{$www_member['mobile']}";
                             }
                             if(checktype=='2'){
                                url = $(this).attr('data-eurl');
                             }
                             
                              gbGetCodeCount(this);
                             $.ajax({
                                url:url,
                                data:{mobile:mobile},
                                success:function(re){
                                     $(".promptBox").html(re);
                                }
                             });
                        });
                        $(document).on('click',".submitForm",function(){
                            var url = $(this).attr('data-url');
                            var ckcode = $("#ckcode").val().trim();
                            if(ckcode.length<1){
                                $(".promptBox").html('请输入验证码');
                                return;
                            }
                            $(this).html('操作中...');
                           
                            $(this).removeClass('submitForm');
                            $.ajax({
                                url:url,
                                type:'post',
                                data:{code:ckcode},
                                success:function(re){
                                    
                                     if(re==''){
                                         $("#formObj").submit();
                                     }
                                     $(".promptBox").html(re);
                                     $(this).html('下一步'); 
                                     $(this).addClass('submitForm'); 
                                },
                                error:function(){
                                    $(".promptBox").html('网络错误');
                                    $(this).html('下一步'); 
                                    $(this).addClass('submitForm');
                                }
                             });
                        });
                    });
                </script>