<div class="cb-r-as">
                    <ul>
                        <li>
                            <div class="one">
                                <i class="ok"></i>
                                <span>登录密码</span>
                            </div>
                            <div class="two">
                                互联网账号存在被盗风险，建议您定期更改密码以保护账户安全。
                            </div>  
                            <div class="three">
                                <a href="{:U('Account/psw')}">修改</a>
                            </div>  
                        </li>                       
                       <!--  <li>
                            <div class="one">
                                <i class="ok"></i>
                                <span>手机验证</span>
                            </div>
                            <div class="two">
                                <if condition="$www_memberInfo['mobile'] neq ''">
                                <span class="text">您验证的手机：</span>
                                <span class="num">{$www_memberInfo['mobile_show']}</span>
                            </if>
                            </div>  
                            <div class="three">
                                <if condition="$www_memberInfo['mobile'] neq ''">
                                <a href="{:U('Account/mobile')}">修改</a>
                                <else/>
                                 <a href="{:U('Account/bindmobile')}">立即绑定</a>
                                </if> 
                            </div>  
                        </li>
                        <li>
                            <div class="one">
                                <if condition="$www_memberInfo['email'] neq ''">
                                <i class="ok"></i>
                                <else/>
                                <i class="warn"></i>
                                </if>
                                <span>邮箱验证</span>
                            </div>
                            <div class="two">
                               <if condition="$www_memberInfo['email'] neq ''">
                                <span class="text">您验证的邮箱：</span>
                                <span class="num">{$www_memberInfo['email_show']}</span>
                                <else/>
                                 邮箱尚未进行绑定，建议您立即绑定。
                                </if>
                            </div>  
                            <div class="three">
                                 <a href="{:U('Account/email')}">
                                <if condition="$www_memberInfo['email'] neq ''">
                                修改
                                <else/>
                                 立即绑定
                                </if></a>
                            </div>  
                        </li> -->
                    </ul>
                </div>