 <style>
  .rb-s-cont li{
    margin-bottom: 20px;
  }
 .next-bt{
    padding: 0 10px;
    height: 26px;
    line-height: 26px;
    display: table;
    background: #f90;
    color: #fff;
    border-radius: 3px;
    margin-left: 170px;
 }
</style> 
<div class="cb-right">
                <div class="cb-r-bind">
                    <ul class="rb-step">
                        <li class="ac">
                            验证身份
                            <span>1</span>
                        </li>
                        <li class="ac">
                            修改手机
                            <span>2</span>
                        </li>
                        <li>
                            完成
                            <span>OK</span>
                        </li>
                    </ul>
                    <form id="formObj"  action="{:U('Account/mobilefinish')}"  method="post">
                        <ul class="rb-s-cont">
                            <li>
                                <div class="input-name">
                                    新手机：
                                </div>
                                <input name="mobile" type="text" class="input-box" />
                            </li>
                           <!--  <div class="promptBox"></div> -->
                            <li class="check-code">
                                <div class="input-name">
                                    请填写手机校验码：
                                </div>
                                <input type="text" name="code" maxlength="4" class="input-box" id="ckcode" />
                                <div id="obtainNum" data-url="{:U('Cmodule/Sms/sendcode')}">获取验证码</div>
                            </li>
                            <div class="promptBox"></div>
                             <li >
                                 <button type="button" class="submitForm next-bt" data-url="{:U('Cmodule/Sms/check')}">下一步</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div> 
<script type="text/javascript">
                    $(function(){
                        var mobile = '';
                        $(document).on('click','#obtainNum',function(){ var obj = this;                             
                             var url = $(this).attr('data-url');
                             mobile = $("input[name='mobile']").val().trim(); 
                             if(!isMobil(mobile)){
                                $(".promptBox").eq(0).html('手机号不能为空或格式不正确');
                                return;
                             }
                             
                             $.ajax({
                                url:'{:U("Account/checkmobile")}',
                                type:'post',
                                data:{mobile:mobile,mtype:1},
                                dataType:'json',
                                success:function(re){
                                     if(re.code=='1'){
                                       popup('该手机号已经绑定');
                                        return  false;
                                     }
                                     gbGetCodeCount(obj); 
                                     $.ajax({
                                        url:url,
                                        type:'post',
                                        data:{mobile:mobile,mtype:1},
                                        success:function(re){
                                             $(".promptBox").eq(1).html(re);
                                        }
                                     });
                                     
                                }
                             });
                             
                        });
                        $(document).on('click',".submitForm",function(){
                            var url = $(this).attr('data-url');
                            var ckcode = $("#ckcode").val().trim();
                            var obj = $(this); 
                            $(".promptBox").html('');
                            if(mobile==''){
                                mobile = $("input[name='mobile']").val().trim();
                            }
                             if(!isMobil(mobile)){
                                $(".promptBox").eq(0).html('手机号不能为空或格式不正确');
                                return;
                             }
                            if(ckcode.length<1){
                                $(".promptBox").eq(1).html('请输入验证码');
                                return;
                            }
                            $(this).html('操作中...');
                            $(this).removeClass('submitForm');
                            $.ajax({
                                url:url,
                                type:'post',
                                data:{code:ckcode},
                                success:function(re){
                                     if(re==''){
                                         $("input[name='mobile']").val(mobile);
                                         $("#formObj").submit();
                                         return;
                                     } 
                                     $(".promptBox").eq(2).html(re);
                                     obj.html('下一步'); 
                                     obj.addClass('submitForm'); 
                                },
                                error:function(){
                                    $(".promptBox").eq(2).html('网络错误');
                                    obj.html('下一步'); 
                                    obj.addClass('submitForm');
                                }
                             });
                        });
                    });
                </script>